@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root{
    --background-color: #FBFBFB;
    --green-background-color: #153E52;
    --dark-green-color:#113448;
    --light-green-color:#14BF98;
    --dark-gray-color:#484A46;
    --light-gray-color:#787976;
    --white-color:#FFFFFF;
    --disabled-color:#E9ECEF;
    --dark-white-color: #DFE5EC;
    --light-gray-border-color:#EBE8E8;
    --form-input-background-color:#2A5D77;
    --form-input-border-color:#39728f;

}
body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6,p,a,span,button,li,input,textarea,label,select,option{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;

}

button{
    cursor: pointer;
    border: 1px solid var(--light-green-color);
    background-color: var(--light-green-color);
    color: var(--white-color);
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.125seconds ease-in-out;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.3ch;
    }
     button:hover{
        background-color: transparent;
        color: var(--light-green-color);
    }

    .section-title{
        color: var(--light-green-color);
        text-transform: uppercase;
        padding: 1rem 0px;
    }
    .italic {
        font-style: italic;
    }
    .bold {
        font-weight: bold;
    }

nav{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 3rem;
    box-sizing: border-box;
    align-items: center;
    color: var(--green-background-color);
    z-index: 100%;
    backdrop-filter: blur(10px) grayscale var(--image-grayscale) contrsast (var(--image-contrast)); 
}
nav a{
    text-decoration: none;
    color: var(--dark-green-color);
    transition: color 0.125s ease-in-out;
}
nav a:visited{
    color: var(--dark-green-color);
    text-decoration: none;
}
nav a:hover{
    color: var(--light-green-color);
}
nav img{
    height:auto;
    width: 12rem;
    transition: transform 0.125s ease-in-out;
    transform: scale(1.1);
    margin-right: 0.5rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
nav ul .icon{
    background-color: var(--light-green-color);
    padding: 0.75rem;
    cursor: pointer;
    clip-path: polygon(0 25%,0 75%,50% 100%,100% 75%,100% 25%,50% 0);

}
nav ul .icon:hover{
    background-color: var(--white-color);
    color: var(--light-green-color);
}
nav ul .icon:hover a{
    color: var(--light-green-color);
}
.home{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(./assets/home.jpg);
    background-position:center;
    background-size:cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white-color);
    gap: 1.5rem;
    


}
.home h1{
    text-transform: uppercase;
    font-size: 3rem;
    padding: 0.5rem 0;

}

.home p{
    font-size:1.5rem;
    width: 50%;
}
.intro{
    padding: 5rem 20vw;
    background-color: var(--white-color);
}
.intro .content{
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.intro .content .text{
    width: 40%;
    flex-shrink: 0;

}

.intro .content .text h3 {
        color: var(--dark-gray-color);
        font-size: 2rem;
        }

.intro .content.text p {
    color: var(--light-gray-color);
    font-weight: 400;
    line-height: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;

}
.intro .content .image-container{
    width: 60%;
    flex-shrink: 0;
    overflow: hidden; 
    border-radius: 5px; 
    filter: grayscale(25%);
    cursor: pointer;

} 

.intro .content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
     transition: transform 0.25s ease-in-out;
}


.intro .content img:hover{
    transform: scale(1.5);
}


.intro .skill-list-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    }

    .intro .skill-list-container .skill-item{
       width: 30%;
       
        line-height: 1.4rem;

    }
    .intro .skill-list-container .skill-item h4{
        font-size: 1.5rem;
        color: var(--dark-gray-color);

    }
    .intro .skill-list-container .skill-item p{
        color: var(--light-gray-color);
    }
    .intro .skill-list-container .skill-item span {
        background-color: var(--light-green-color);
        color: var(--white-color);
        padding: 1.75rem;
        font-size: 1.75rem;
        display: inline-block;
        margin-bottom: 1rem;
        clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    }


    .service {
        padding: 5rem 0;
    }
    .service > span{
        display: block;
        text-align: center;
    }
    .service > h3{
        text-align: center;
        font-size: 1.75rem;
        color: var(--dark-gray-color);
    }
    .service .service-list-container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 3rem 20vh;
        align-items: center;
       }
     .service .service-list-container .service-item{
        width: 30%;
        flex-shrink: 0;
        flex-grow: 0;
        border-radius: 5px;
        border: 1px solid var(--light-gray-border-color);
        background-color: var(--white-color);
        }
        .service  .service-item img{
            width: 100%;
            height: 15rem;
            object-fit: cover;
            object-position: center;
            filter: grayscale(20%) brightness(50%);
            border-radius: 5px 5px 0 0;

        }
        .service  .service-list-container .service-item h4{
            text-align: center;
            font-size: 1.5rem;
            color: var(--dark-gray-color);
            padding:0.5rem 2rem ;
        }

        .service .service-list-container .service-item p{
            line-height: 1.5rem;
            color: var(--light-gray-color);
            padding:0.5rem 2rem;
        }
        .service .service-list-container .service-item ul{
            line-height: 1rem;
            color: var(--light-gray-color);
            padding: 0.5rem 2rem;
            list-style-type: none;
        }
        .service .service-list-container .service-item ul li ::before{
            content: '\25a0';
            color: var(--light-green-color);
            margin-right: 5px;
            font-size: 1.25rem;
        }
        .service .service-list-container .service-item h6{
            font-size: 1.2rem;
            color: var(--light-gray-color);
            align-items: center;
            padding: 0.5rem 2rem;
        }

        .service  h6 .price{
            color: var(--light-green-color);
        }
        .service .service-item button:hover{
            background-color: var(--white-color);
        }



        .service .service-item button{
            position: relative;
            top:0%;
            left: 50%;
            transform: translate(-50%,50%);
        }



        .service .propositions-1 {
            display: flex;
            flex-direction: row;
            background-color: var(--white-color);

            }
            .service .propositions-1 img {
                width: 50%;
                filter: grayscale(50%) contrast(60%);
                height: 35rem;
                object-fit: cover;
                object-position: center;
                }
                .service .propositions-1 .content{
                    width: 50%;
                    flex-shrink: 0;
                }
                .service .propositions-2 {
                    display: flex;
                    background-color: var(--white-color);
        
                    }
                    .service .propositions-2 img {
                        width: 50%;
                        filter: grayscale(50%) contrast(60%);
                        height: 35rem;
                        object-fit: cover;
                        object-position: center;
                        }
                        .service .propositions-2 .content{
                            width: 50%;
                            flex-shrink: 0;
                        }
                        .service .propositions-1 .content{
                            padding: 5rem 20vh 5rem 5rem;
                            box-sizing: border-box;
                        }
                        .service .propositions-2 .content{
                            padding: 5rem 20vh 5rem 5rem;
                            box-sizing: border-box;
                        }
                        .service .propositions-2 .category-list-container{
                            display: flex;
                            flex-direction: row;
                            gap: 2 rem;
                        }
                       
                        .service .propositions-2  .skill-list-container{
                            display: flex;
                            gap: 2rem;
                            flex-direction: column;
                            padding-top: 2rem;
                        }
                        .service .propositions-2  .skill-item h6{
                            color: var(--dark-gray-color);
                            font-size: 1rem;

                        }
                        .service .propositions-2  .skill-item .progress-bar{
                            height: 1.5rem;
                            background-color: var(--light-green-color);
                            border-radius: 5px;
                            margin-top: 0.5rem;
                            width: 0;
                        }
                        .service .propositions-2 .skill-item .progress-bar.p-100 {
                            width: 100%;
                        }
                        .service .propositions-2 .skill-item .progress-bar.p-76{
                            width: 76%;
                        }
                        .service .propositions-2 .skill-item .progress-bar.p-90{
                            width: 90%;
                        }
                        .service .propositions-2 .category-item h3{
                            color: var(--light-gray-color);

                        }
                        .service .propositions-1 h3{
                            color: var(--dark-gray-color);
                            font-size: 1.75rem;
                        }
                        .service .propositions-1 h4{
                            color: var(--dark-gray-color);
                            font-size: 1.5rem;
                            cursor: pointer;
                            transition: color 0.125s ease-in-out;
                        }
                        .service .propositions-1 p{
                           padding-left: 3rem;
                           line-height: 1rem;
                           box-sizing: border-box;
                        
                        }

                        .service .propositions-1 h4 span{
                            border-radius: 50px;
                            padding: 0 0.6rem;
                            border: 2px solid var(--dark-gray-color);
                            color: var(--dark-gray-color);
                            margin-right: 0.5rem;
                            transition: all 0.125s ease-in-out;
                        }
                        .service .propositions-1 h4.active span{
                            border: 2px solid var(--light-green-color);
                            color: var(--white-color);
                           background-color: var(--light-green-color);
                        }
                        .service .propositions-1 h4:not(.active):hover span{
                            color: var(--light-green-color);
                            color: var(--white-color);
                        }
                        .service .propositions-1 h4.active, .service .propositions-1 h4:hover{
                            color: var(--light-green-color);
                        }
                        .service .propositions-2 h3{
                            color: var(--dark-gray-color);
                            font-size: 1.75rem;
                        }

                        .service .propositions-1 p{
                            line-height: 0.75rem;
                            color: var(--light-gray-color);
                        }


                    .service .testimonials{
                     padding: 5rem 20vh;
                     }    
                   .service .testimonials h3{
                    color: var(--dark-gray-color);
                     text-align: center;
                     font-size: 1.75rem;
                        }
              .service .testimonials p{
                color: var(--dark-gray-color);
                text-align: center;
              }
              .service .testimonial-list-container{
                display: flex;
                flex-direction: row;
                gap: 2rem;
                overflow-x: scroll;
                padding: 3rem 0;
              }
              .service .testimonial-item{
                width: 20%;
                flex-shrink: 0;
                flex-grow: 0;
                display: flex;
                gap: 1rem;
                flex-direction: column;
                align-items: center;
    }
    .service .testimonial-item img{
        width: 5rem;
        border-radius: 50%;
    }
    .service .testimonial-item p{
        line-height: 1.5rem;
    }
    .service .testimonial-item h4{
        color: var(--dark-gray-color);
    }
    .call-me{
        padding: 5rem 20vh;
        background-color: var(--green-background-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .call-me .content, .call-me .form {
        width: 45%;
        flex-grow: 0;
        flex-shrink: 0;
        color: var(--white-color);


    }
    .call-me .content h3{
        font-size: 1.75rem;
        
    }
    .call-me .content p{
        line-height: 1.5rem;
        color: var(--light-gray-border-color);
     }
    .call-me .content ul {
     padding: 0;
     list-style-type: none;
     color: var(--white-color);
    }

    .call-me .content ul li ::before{
        content: '\25a0';
        color: var(--light-green-color);
        margin-right: 5px;
        font-size: 1rem;
    }
    .call-me  form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .call-me form .terms-container label{
        color: var(--light-gray-border-color);
    }
    .call-me  form input, .call-me select{
        background-color: var(--form-input-background-color);
        color: var(--white-color);
        border: 1px solid var(--form-input-border-color);
        padding: 0.75rem 1.5rem;
        border-radius: 5px;
    } 
    .projects{
        padding: 5rem 20vh;
        background-color: var(--white-color);
    }
    .projects > span, .projects > h3 {
        display: block;
        text-align: center;
    }

    .projects >h3 {
        color: var(--dark-gray-color);
        font-size: 1.75rem;
    }

    .projects .category-list-container ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 1rem;
        overflow: scroll;
        padding: 3rem 0 1rem;
        list-style-type: none ;
    }
    .projects .category-list-container ul button {
        background-color: var(--light-gray-border-color);
        color: var(--dark-gray-color);
        border: 1px solid transparent;
        padding: 0.75rem 1rem;
    }
    .projects .category-list-container ul button:hover {
        background-color: var(--light-green-color);
        color: var(--white-color);
            }
            .projects .category-list-container ul button:active {
                background-color: var(--light-green-color);
                color: var(--white-color);
                }
                .projects .project-list-container{
                    display: grid;
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-columns: repeat(4, 1fr); 
                    margin-bottom: 3rem;
                }

                .projects .project-list-container .project-item{
                    aspect-ratio: 1/1;
                    background-size: cover;
                    background-position: center;
                    overflow: hidden;

                }
                .projects .project-list-container .project-item:hover{
                    transform: scale(1.05);
                }

                .projects .project-item.p-1{
                    background-image: url('./assets/project-1.jpg');
                }
                .projects .project-item.p-2{
                    background-image: url('./assets/project-2.jpg');
                }
                .projects .project-item.p-3{
                    background-image: url('./assets/project-3.jpg');
                }
                .projects .project-item.p-4{
                    background-image: url('./assets/project-4.jpg');
                }
                .projects .project-item.p-5{
                    background-image: url('./assets/project-10.jpg');
                }
                .projects .project-item.p-6{
                    background-image: url('./assets/project-9.jpg');
                }
                .projects .project-item.p-7{
                    background-image: url('./assets/project-5.jpg');
                }
                .projects .project-item.p-8{
                    background-image: url('./assets/project-6.jpg');
                }

.team{
    padding: 5rem 20vh;
    background-color: var(--background-color);
}

.team > h3{
    color: var(--dark-gray-color);
    font-size: 1.75rem;
    text-align: center;
}

.team > p{
    color: var(--light-gray-color);
    text-align: center;
    line-height: 1.5rem;

}
.team .team-member-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
}
.team .team-member-list-container .team-member-item{
    width: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.team .team-member-item .profile-picture{
    width: 100%;
    clip-path:  polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    overflow: hidden;
}
.team .team-member-item .profile-picture img{
    width: 100%;
    object-fit:cover;
    object-position: center;
    transition: transform 0.5s ease-in-out;
}
.team .team-member-item .profile-picture img:hover{
    transform: scale(1.25);
}


.team .team-member-item p{
    color: var(--dark-gray-color);
    line-height: 1.5rem;
}
.team .team-member-item h5{
        color: var(--dark-gray-color);
        font-size: 1rem;
}
.team .team-member-item .social-links{
    margin-top: 1rem;
}
.team .team-member-item .social-links span {
    background-color: var(--light-green-color);
    color: var(--white-color);
    padding: 0.75rem;
    cursor: pointer;
    clip-path:polygon(0 25%,0 75%,50% 100%,100% 75%,100% 25%,50% 0%);
    transition:all 0.3s ease-in-out;
}
.team .team-member-item .social-links span:hover{
    background-color: var(--white-color);
    color: var(--light-green-color);
}


.about{
    padding: 5rem 20vw;
    background-color: var(--white-color);
    display: flex;
}
.about > img {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    filter: contrast(var(--image-contrast)) grayscale((--image-grayscale));
}
.about >.content {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 3rem;
}
.about .content h3 {
    color: var(--dark-gray-color);
    font-size: 1.75rem;
}
.about .content p {
    color: var(--light-gray-color);
    list-style-type: none;
    padding: 0;
}
.about .content ul li::before{
        color: var(--light-green-color);
    font-size: 1.25rem;
}

.about .content .stats-list-container{
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.about .stats-list-container .stat-item{
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about .stat-item .number{
    color: var(--light-green-color);
    font-size: 2.5rem;
    font-weight: 700;
}

.contact {
    padding: 5rem 20vw;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact .content, .contact .form{
    width: 45%;
    flex-grow: 0;
    flex-shrink: 0;
}

.contact .content h3{
    color: var(--dark-gray-color);
    font-size: 1.75rem;
    }
.contact .content p {
    color: var(--light-gray-color);
    line-height: 1.5rem;
}
.contact .content p  i {
    color: var(--light-green-color);
    margin: 0 0.5rem;
}

.contact .content .contact-info-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.contact .content h4{
    color: var(--dark-gray-color);
    font-size: 1.5rem;
    }

    .contact .content .social-link-list-container{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .contact .social-link-list-container .social-link-item{
        background-color: var(--light-green-color);
        color: var(--white-color);
        padding: 0.75rem;
        cursor: pointer;
        clip-path: polygon(0 25%,0 75%,50% 100%,100% 75%,100% 25%,50% 0%);
        transition: all 0.3s ease-in-out;
    }
    .contact .social-link-list-container .social-link-item:hover{
        background-color: var(--white-color);
        color: var(--light-green-color);
    }
    .contact .form form{
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            gap: 1rem;        
    }

    .contact input, .contact textarea {
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid var(--light-gray-border-color);
        background-color: var(--white-color);
        color: var(--dark-gray-color);
    }
    .contact form label{
        color: var(--light-gray-color);
        line-height: 1.5rem;
    }
    footer {
        padding: 5rem 20vw;
        background-color: var(--dark-green-color);
        color: var(--white-color);
    }
    footer .footer-list-container{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }
    footer .footer-list-container .footer-list-item.wide{
        width: 50%;
        flex-grow: 0;
        flex-shrink: 0;
    }
    footer .footer-list-container .footer-list-item{
        width: 15%;
        flex-grow: 0;
        flex-shrink: 0;
    }
    footer .footer-list-container h5{
        color: var(--white-color);
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    footer .footer-list-container p{
        color: var(--dark-white-color);
        line-height: 1.5rem;
    }
    footer a, footera:visited{
        color: var(--dark-white-color);
        line-height: 2rem;
    }

    footer .copyright{
        padding-top: 3rem;
        text-align: center;
        color: var(--dark-white-color);
        line-height: 1.5rem;
    }










